body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:69px;
}
#u0 {
  position:absolute;
  left:105px;
  top:28px;
  width:221px;
  height:69px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 148, 100, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:63px;
  top:60px;
  width:39px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3 {
  position:absolute;
  left:2px;
  top:-5px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u4 {
  position:absolute;
  left:97px;
  top:107px;
  width:1218px;
  height:1px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:105px;
  top:272px;
  width:1045px;
  height:151px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:72px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:72px;
  font-size:16px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:198px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:72px;
}
#u9 {
  position:absolute;
  left:202px;
  top:0px;
  width:838px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10 {
  position:absolute;
  left:2px;
  top:24px;
  width:834px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:74px;
}
#u11 {
  position:absolute;
  left:0px;
  top:72px;
  width:202px;
  height:74px;
  font-size:16px;
}
#u12 {
  position:absolute;
  left:2px;
  top:28px;
  width:198px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:74px;
}
#u13 {
  position:absolute;
  left:202px;
  top:72px;
  width:838px;
  height:74px;
  font-size:18px;
}
#u14 {
  position:absolute;
  left:2px;
  top:24px;
  width:834px;
  word-wrap:break-word;
}
